/* grid debuging
[class*="col-"] {
  border: 1px solid rgba(86,61,124,.2);
}*/

/*
 *  Tools Button
 */
#deck-tools {
  padding-top: 20px;
}

.lookup-container {
	padding: 0px 1px;
}

/*
 *  curve charts
 */
svg {
  border: 1px solid lightgray;
}
.cost-axis-label {
  font-size: 9px;
}
.chart-title {
  font-family: sans-serif;
  font-size: 12px;
  fill: gray;
}
rect {
  stroke: white;
}
#curves > .row {
	margin-top: 15px
}

.card {
  border: 1px solid rgba(86,61,124,.2);
}

/*
 *  for ticking off played cards
 */
.drawn { background-color: whitesmoke; color: lightgrey; }